<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>CommonController.Homepage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchProductByColor</servlet-name>
        <servlet-class>CommonController.SearchProductByColor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductByColor</servlet-name>
        <url-pattern>/searchproductbycolor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchProductBySeason</servlet-name>
        <servlet-class>CommonController.SearchProductBySeason</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductBySeason</servlet-name>
        <url-pattern>/searchproductbyseason</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchProductByTitle</servlet-name>
        <servlet-class>CommonController.SearchProductByTitle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductByTitle</servlet-name>
        <url-pattern>/SearchProductByTitle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchPrice0to50</servlet-name>
        <servlet-class>CommonController.SearchPrice0to50</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPrice0to50</servlet-name>
        <url-pattern>/SearchPrice0to50</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchPriceAbove50</servlet-name>
        <servlet-class>CommonController.SearchPriceAbove50</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPriceAbove50</servlet-name>
        <url-pattern>/SearchPriceAbove50</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchPriceMinToMax</servlet-name>
        <servlet-class>CommonController.SearchPriceMinToMax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPriceMinToMax</servlet-name>
        <url-pattern>/SearchPriceMinToMax</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewProductDetail</servlet-name>
        <servlet-class>CommonController.ViewProductDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductDetail</servlet-name>
        <url-pattern>/ViewProductDetail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Homepage</welcome-file> <welcome-file>index.jsp</welcome-file> </welcome-file-list>

</web-app>